### Notebook para hacer una mirada rápida a las diferentes bases de datos

In [1]:
#Librerias a usar
import pandas as pd
import numpy as np

In [2]:
dftest_bsmt = pd.read_json(r'https://raw.githubusercontent.com/MCD-Infrati/etlproject-infratech_24/main/DBMongoFSF/test.bsmt.json')

In [3]:
dftest_bsmt

,_id,PID,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Bsmt Full Bath,Bsmt Half Bath
0,{'$oid': '640d0ee95f254a7fe2ff616d'},526301100,TA,Gd,Gd,BLQ,639.0,Unf,0.0,441.0,1080.0,1.0,0.0
1,{'$oid': '640d0ee95f254a7fe2ff616e'},526350040,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,0.0,0.0
2,{'$oid': '640d0ee95f254a7fe2ff616f'},526351010,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,0.0,0.0
3,{'$oid': '640d0ee95f254a7fe2ff6170'},526353030,TA,TA,No,ALQ,1065.0,Unf,0.0,1045.0,2110.0,1.0,0.0
4,{'$oid': '640d0ee95f254a7fe2ff6171'},527105010,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846,{'$oid': '640d0f0d5f254a7fe2ff6cda'},923275080,TA,TA,Av,GLQ,819.0,Unf,0.0,184.0,1003.0,1.0,0.0
2847,{'$oid': '640d0f0d5f254a7fe2ff6cdb'},923276100,Gd,TA,Av,BLQ,301.0,ALQ,324.0,239.0,864.0,1.0,0.0
2848,{'$oid': '640d0f0d5f254a7fe2ff6cdc'},923400125,Gd,TA,Av,GLQ,337.0,Unf,0.0,575.0,912.0,0.0,1.0
2849,{'$oid': '640d0f0d5f254a7fe2ff6cdd'},924100070,Gd,TA,Av,ALQ,1071.0,LwQ,123.0,195.0,1389.0,1.0,0.0
2850,{'$oid': '640d0f0d5f254a7fe2ff6cde'},924151050,Gd,TA,Av,LwQ,758.0,Unf,0.0,238.0,996.0,0.0,0.0

Cambio de algo